@use '../abstracts/variables' as vars;

.card{
    width: 100%;
    border-radius: vars.$border-radius;
    // background: #fff;
    // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1);
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
    padding: .5rem;
}
