@use '../abstracts/variables' as vars;

.cards-container{
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: .5rem;
    width: 260px;
    height: min-content;
    // background: #EFEFEF;
    // border-radius: vars.$border-radius;
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: .7rem;

    // & + & {
      // border-left: 2px solid white;
    // }

    &-header{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.cards-container.empty-cards-container{
    padding: .5rem .5rem;

    .add-goal-btn{
        margin: 0;
    }
}
