@use '../abstracts/variables' as vars;

.cards-container{
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: .5rem;
    width: 260px;
    height: min-content;
    background: #EFEFEF;
    border-radius: vars.$border-radius;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: .5rem;

    &-header{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
    }

    .add-card-btn,
    .add-goal-btn{
        display: flex;
        align-items: center;
        margin-top: 10px;
        cursor: pointer;
        width: max-content;
        position: relative;
        padding-left: 25px;
        
        &::before{
            content: '+';
            position: absolute;
            top: -7px;
            left: 0;
            font-size: 1.6rem;
        }
    }
}

.cards-container.empty-cards-container{
    padding: .5rem .5rem;

    .add-goal-btn{
        margin: 0;
    }
}