.tags{
    // display: flex;
    // justify-content: space-evenly;
    // flex-wrap: wrap;

    .tag{
        display: inline-block;
        width: max-content;
        padding: 3px 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        border-radius: 10px;
        font-size: .7rem;
        // letter-spacing: 1px;
        font-weight: bolder;

        // + .tag{
        // }
    }
}